@inherits LayoutComponentBase

<div class="bg-gray-100 flex h-screen">
    <div class="bg-gray-100 text-white lg:w-1/4">
        <NavMenu />
    </div>

    <main class="w-full relative">
        <article class="p-1 bg-blue-400">
            @Body
            <MobileNavigation />

        </article>
    </main>
</div>
