<div class="fixed bottom-0 left-0 right-0 bg-indigo-600 p-3 text-white lg:hidden">
    <div class="flex justify-around">
        <!-- Home Icon (Font Awesome) -->
        <a class="text-2xl" href="/">
            <span class="fas fa-home"></span>
        </a>
        <!-- Money Bill Icon (Font Awesome) -->
        <a class="text-2xl" href="cotizaciones">
            <span class="fas fa-chart-line"></span>
        </a>
        <!-- Calculator Icon (Font Awesome) -->
        <a class="text-2xl" href="conversor">
            <span class="fas fa-calculator"></span>
        </a>
    </div>
</div>
