<div class="bg-gray-100">
    <div class="container mx-auto flex items-center justify-between py-3">
        <a class="text-black text-2xl ml-2 border-b border-black lg:border-none hidden lg:block" href="/">
            Dolar <span class="animate-pulse">Pulse</span> <span class="text-sm text-bold">AR</span>
            <span class="fas fa-wave-square font-semibold text-black" aria-hidden="true"></span>
        </a>
    </div>
</div>

<div class="bg-gray-100 @NavMenuCssClass">
    <nav class="lg:flex lg:flex-col gap-y-2">
        <div class="lg:order-1 px-3 py-2 lg:py-0 lg:pl-3">
            <NavLink class="text-blue-500 hover:text-blue-700" href="/" Match="NavLinkMatch.All">
                <span class="fas fa-home" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>
        <div class="lg:order-2 px-3 py-2 lg:py-0 lg:pl-3">
            <NavLink class="text-blue-500 hover:text-blue-700" href="cotizaciones">
                <span class="fas fa-money-bill" aria-hidden="true"></span> Cotizaciones
            </NavLink>
        </div>
    </nav>

</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "hidden lg:flex" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
